@tailwind base;
@tailwind components;
@tailwind utilities;


.about-img{
    max-width: 450px;
    max-height: 450px;
}

.avatar-img{
    border-radius: 45%;
    max-height: 200px;
    max-width: 200px;
}

.team-title{
    font-size: 28px;
    font-weight: 500;
}

.avatar-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 82%;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.avatar-card {
    height: 260px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    min-width: 160px;
    font-family: monospace;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.role {
    opacity: 0;
}

.avatar-card:hover .role{
    transition: all 0.5s ease;
    opacity: 1;
}

.avatar-card:hover {
    transition: all 0.3s ease;
    height: 285px;
    backdrop-filter: blur(10px);
}

.avatar-card:hover:first-child{
    transition: all 0.3s ease;
    box-shadow: 0 0 15px orange;
}
.avatar-card:hover:nth-child(2){
    transition: all 0.3s ease;
    box-shadow: 0 0 15px palevioletred;
}
.avatar-card:hover:nth-child(3){
    transition: all 0.3s ease;
    box-shadow: 0 0 15px lightskyblue;
}
.avatar-card:hover:nth-child(4){
    transition: all 0.3s ease;
    box-shadow: 0 0 15px red;
}
.avatar-card:hover:nth-child(5){
    transition: all 0.3s ease;
    box-shadow: 0 0 15px lightgreen;
}
.avatar-card:hover:nth-child(6){
    transition: all 0.3s ease;
    box-shadow: 0 0 15px yellow;
}
.avatar-card:hover:nth-child(7){
    transition: all 0.3s ease;
    box-shadow: 0 0 15px purple;
}
.avatar-card:hover:nth-child(8){
    transition: all 0.3s ease;
    box-shadow: 0 0 15px salmon;
}

.about-highlight{
    font-weight: 500;
    color: #3b82f6;
}

.about-wrap{
    border-radius: 10px;
    position: relative;
}

.about-wrap:after{
    border-radius: 10px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #3b82f6;
    top: 14px;
    left: 14px;
    z-index: -1;
    position: absolute;

}

.about-divider{
    border-color: #3b82f6;
    margin: 25px 0;
}

@media screen and (max-width: 1024px) {
    .about-img{
        display: none;
    }

    .about-text{
        width: 70% !important;
        margin-left: 1.25rem;
    }
}

@media screen and (max-width: 600px) {
    .about-desc,
    .about-text{
        width: unset !important;
    }

    .about-wrap:after{
        display: none;
    }

    .btn-primary{
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .avatar-wrap{
        align-items: center;
    }

    .avatar-img{
        height: 100px;
        width: 100px;
    }

    .avatar-card{
        width: 90%;
        height: 180px;
    }

    .role {
        opacity: 1;
        margin-bottom: 10px;
    }
}
