@tailwind base;
@tailwind components;
@tailwind utilities;


.button-primary{
    background-color: #04AA6D;
    border-radius: 5px;
    font-size: 17px;
    padding: 6px 18px;
    width: 200px;
    text-align: center;
}

.button-primary:hover{
      animation: bounce 1s;

  }

  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  
    80% {
      -webkit-transform: translateY(-7px);
      transform: translateY(-7px);
    }
}

.about-img{
    max-width: 450px;
    max-height: 450px;
}

.about-highlight{
    font-weight: 500;
    color: #04AA6D;
}

.about-divider{
    border-color: #04AA6D;
    margin: 25px 0;
}

@media screen and (max-width: 1024px) {
    .about-img{
        display: none;
    }

    .about-text{
        width: 70% !important;
    }
}

@media screen and (max-width: 600px) {
    .about-desc,
    .about-text{
        width: unset !important;
    }

    .button-primary{
        width: 100%;
    }

    .about-header{
        margin-bottom: 0;
    }
}
